body {
  background-color: darkgray;
}

header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

header, section {
  background-color: white;
  color: black;
}

section {
  margin: 2em;
  padding: 0 2em 1em 2em;
  text-align: center;
  width: 80%;
  margin: 1em auto;
}

h2 {
  padding-top: 0.5em;
}

h3 img {
  display: inline-block;
  max-height: 1.5em;
}

table {
  text-align: center;
  display: inline-block;
  padding: 0 1em;
}

table td {
  width: 5%;
}

ul {
  display: inline-block;
  text-align: left;
}